{% extends "base-presentation.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}<title>Restaurant Kitchen Service | Dishes</title>{% endblock %}

{% block content %}

  <h2 style="padding-top: 100px">
    Dishes List
    <a href="{% url 'kitchen:dish-create' %}" class="btn btn-primary" style="margin-left: 20px">
      Create
    </a>
  </h2>

  <form action="" method="get" class="form-inline" style="width: 15%; padding-top: 30px">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>

  {% if dish_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Dish type</th>
      </tr>
    {% for dish in dish_list %}
      <tr>
        <td><a style="color: blue; text-decoration: underline" href="{% url "kitchen:dish-detail" pk=dish.id %}">{{ dish.name }}</a></td>
        <td>{{ dish.price }}</td>
        <td>{{ dish.dish_type.name }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no dishes in restaurant.</p>
    {% endif %}
{% endblock %}
